html {
/*	background: linear-gradient(135de);
*/}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 0px;
	margin: 0px;
}
.ex1 {
	width: 700px;
	height: 600px;
	border: 1px solid black;
	display: flex;
	position: relative;
}
.control {
	background: red;
	flex: 1;
}
.color-picker {
	width: 100px;
	height: 100px;
	cursor: pointer;
}
#btn-clear {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1rem;
}
#draw {
	cursor: pointer;
	border-left: 1px solid black;
}
.ex2 {
    display: flex;
	background: linear-gradient(#e66465, #9198e5);
	width: 100%;
	margin: 0 20px;
	min-height: 1200px;
	flex-direction: column;
}
.header {
	width: 100%;
	flex-basis: 200px;
	background: rgba(255, 73, 36, 0.83);
    display: flex;
    justify-content: center;
    position: relative
}
.order {
	flex: 1;
	background: white;
	padding-top: 40px;
}
img {
	height: 200px;
	width: 200px;
    position: absolute;
    top: 50%
}

#progress-bar {
	width: 100%;
	background-color: #ddd;
}
#progress {
	width: 1%;
	height: 30px;
	background-color: #4caf50;
}
.go {
  color: green;
}
.stop {
  color: red;
}
.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 100%;
}
.draw {
	border: 1px solid #333;
	width: 600px;
	height: 600px;
	position: relative;
	box-sizing: border-box;
}
.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
    box-sizing: border-box;
}